services:
    web:
        build: .
        container_name: django_web
        ports:
            - "8000:8000"
        volumes:
            - .:/app
        depends_on:
            - db
    db:
        image: postgres:15
        container_name: postgres_db
        environment:
            POSTGRES_DB: courses_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 123
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - web


volumes:
    postgres_data:
