services:
    web:
        build: .
        container_name: django_web
        ports:
            - "8000:8000"
        volumes:
            - .:/app
        depends_on:
            - db
    db:
        image: postgres:15
        container_name: postgres_db
        environment:
            POSTGRES_DB: courses_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 123
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"

volumes:
    postgres_data:
